body {
	background-color: rgb(25, 25, 25);
}

#waiting {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	transition: 1s ease;
}

#role_img {
	position: absolute;
	margin: 0;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	opacity: 0;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#role_name {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc(50% + 300px);
	left: -100%;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	transition: 1s ease;
}

#role_about {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc(50% + 500px);
	left: -100%;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	transition: 1s ease;
}

#role_ok {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc(50% + 750px);
	left: -100%;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#info_folder {
	position: absolute;
	margin: 0;
	top: calc(50% - 250px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#info_paper {
	position: absolute;
	margin: 0;
	padding: 10px;
	top: calc(50% - 240px);
	left: -100%;
	width: 360px;
	height: 480px;
	transition: 1s ease;
	background-color: white;
	color: black;
	font-size: 20px;
}

#info_ok {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc(50% + 300px);
	left: -100%;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#front_agent {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#left_agent {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#right_agent {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#table {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 100%;
	height: 500px;
	transition: 1s ease;
}

#player_1 {
	position: absolute;
	top: -100%;
	left: 0;
	margin: 0;
	width: 200px;
	height: 100px;
	transition: 1s ease;
}

#player_2 {
	position: absolute;
	top: -100%;
	left: 0;
	margin: 0;
	width: 200px;
	height: 100px;
	transition: 1s ease;
}

#player_3 {
	position: absolute;
	top: -100%;
	left: 0;
	margin: 0;
	width: 200px;
	height: 100px;
	transition: 1s ease;
}

#take_info {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -100%;
	left: 0;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#take_vote {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -100%;
	left: calc(100% - 400px);
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#cash {
	color: yellow;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 300px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 100px;
	transition: 1s ease;
}

#cash_icon {
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 100px);
	width: 200px;
	height: 200px;
	transition: 1s ease;
}

#vote {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 500px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: 100px;
	transition: 1s ease;
}

#vote_1 {
	color: yellow;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 600px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#vote_1_img {
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 600px);
	width: 400px;
	height: 400px;
	transition: 1s ease;
}

#vote_2 {
	color: yellow;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#vote_2_img {
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 200px);
	width: 400px;
	height: 400px;
	transition: 1s ease;
}

#vote_3 {
	color: yellow;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% + 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#vote_3_img {
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% + 200px);
	width: 400px;
	height: 400px;
	transition: 1s ease;
}

#complete_vote {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -100%;
	left: calc(50% - 600px);
	width: 1200px;
	height: 100px;
	transition: 1s ease;
}

#vote_result_img {
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 250px);
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#vote_result {
	color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: -100%;
	left: calc(50% - 300px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 100px;
	transition: 1s ease;
}

#return {
	color: white;
	background-color: red;
	font-family: consolas;
	position: absolute;
	margin: 0;
	padding: 0;
	top: -100%;
	left: calc(50% - 200px);
	width: 400px;
	height: 100px;
	transition: 1s ease;
}

#left_name {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100px;
	transition: 1s ease;
}

#front_name {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100px;
	transition: 1s ease;
}

#right_name {
	color: white;
	font-family: consolas;
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100px;
	transition: 1s ease;
}

#front_hat {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#left_hat {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

#right_hat {
	position: absolute;
	margin: 0;
	top: calc(100% - 500px);
	left: -100%;
	width: 500px;
	height: 500px;
	transition: 1s ease;
}

button {
	border-radius: 10px;
}