<!DOCTYPE html>
<html lang='ru'>
<head id='{{current_user.id}}'>
	<meta charset='utf-8'>
	<title>Начало игры</title>
	<link rel='stylesheet' 
                    href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' 
                    integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' 
                    crossorigin='anonymous'>
	<link rel='stylesheet' href='{{url_for("static", filename="css/join.css")}}'>
	<script src='{{url_for("static", filename="js/join.js")}}'></script>
</head>
<body id='{{current_user.opened_hats}}'>
	<form action='' method='post' novalidate>
		{{ form.hidden_tag() }}
		<p id='name' align='center'>{{current_user.email}}, введи имя!</p>
		<p align='center'>
	        {{form.name(class='form-control')}}<br>
	        {% for error in form.name.errors %}
	            <p class='alert alert-danger' role='alert' align='center'>{{ error }}</p>
	        {% endfor %}
	    </p>
	    <p id='code' align='center'>Введи код игры, к которой хочешь присоединиться!</p>
		<p align='center'>
	        {{form.code(class='form-control')}}<br>
	        {% for error in form.code.errors %}
	            <p class='alert alert-danger' role='alert' align='center'>{{ error }}</p>
	        {% endfor %}
	    </p>
	    <p id='create' align='center'>Или создай свою игру! (введи код 0)</p>
	    <p id='hat' align='center'>Введи код шляпки, которую хочешь надеть!</p>
		<p align='center'>
	        {{form.hat(class='form-control')}}<br>
	        {% for error in form.hat.errors %}
	            <p class='alert alert-danger' role='alert' align='center'>{{ error }}</p>
	        {% endfor %}
	    </p>
		<p align='center'>{{ form.create(type='submit', class='btn btn-primary') }}</p>
    	{{message}}
	</form>
	<p id='cash'>Баланс: {{current_user.cash}}</p>
	<div id='hats_box'>
		<p id='hats'>Шляпки (цена каждой - 1.000.000)</p>
		<button id='hat_0_btn' class='hat_btns'>Купить</button>
		<img src='{{url_for("static", filename="img/front agent a.png")}}' alt='Игрок' id='hat_0_player' class='hat_imgs'>
		<img src='{{url_for("static", filename="img/front hat 0.png")}}' alt='Нет шляпки' id='hat_0_img' class='hat_imgs'>
		<p id='hat_0' class='hat_names'>0. Нет шляпки</p>
		<button id='hat_1_btn' class='hat_btns'>Купить</button>
		<img src='{{url_for("static", filename="img/front agent a.png")}}' alt='Игрок' id='hat_1_player' class='hat_imgs'>
		<img src='{{url_for("static", filename="img/front hat 1.png")}}' alt='Очки' id='hat_1_img' class='hat_imgs'>
		<p id='hat_1' class='hat_names'>1. Очки</p>
		<img src='{{url_for("static", filename="img/front agent a.png")}}' alt='Игрок' id='hat_2_player' class='hat_imgs'>
		<img src='{{url_for("static", filename="img/front hat 2.png")}}' alt='Шляпа' id='hat_2_img' class='hat_imgs'>
		<p id='hat_2' class='hat_names'>2. Шляпа</p>
	</div>
</body>
</html>